div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity 500ms linear 300ms;
  opacity: 1;
}

.fade-exit {
  transition: opacity 350ms linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.ischecked {
  background: rgb(183,225,131);
  background: linear-gradient(180deg, rgba(183,225,131,1) 0%, rgba(183,225,131,1) 35%, rgba(113,222,86,1) 100%); 
}